@use '../variables';

.search-bar{
    background-color: variables.$primary-color;
    height: 3.5rem;
    display: flex;
    padding: 0 0.5rem;
    flex: 1;
}

.search-bar-form{
    display: flex;
    max-width: variables.$content-width;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.search-bar-input{
    height: 2rem;
    padding: 0 0.5rem;
    flex: 1;
    border: none;
    border-top-left-radius: variables.$border-radius;
    border-bottom-left-radius: variables.$border-radius;
}

.search-bar-button{
    background-color: variables.$background-color;
    border-top-right-radius: variables.$border-radius;
    border-bottom-right-radius: variables.$border-radius;
    height: 2rem;
    width: 2.5rem;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}

.nav-logo {
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url(https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.21.22/mercadolibre/favicon.svg);
    height: 2rem;
    width: 2rem;
    display: flex;
    position: static;
    left: 0;
    top: 0;
    background-size: contain;
    padding: 0.3125rem;
    margin-right: 0.75rem;
}
.button-img{
    height: 1.5rem;
    width: 1.5rem;
}