$primary-color: #ffe600;
$tertiary-color: rgb(99, 99, 99);
$section-color: #fff;
$free-shipping-color: #00a650;
$background-color: #ededed;
$font-color: #292929;
$font-color-secondary: #999;
$font-color-tertiary: #fff;
$button-color: #3483fa;

$content-width: 1200px;
$border-radius: 4px;