.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.section-container {
  background-color: #fff;
  border-radius: 4px;
}

.item-detail {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.image-container {
  width: 60%;
  max-width: 680px;
  height: auto;
  flex-grow: 1;
}

.detail-container {
  width: 40%;
  flex-grow: 0;
}

.additional-data {
  font-size: 0.875rem;
  margin-bottom: 1rem;
  display: block;
  color: #999;
}

.title {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #292929;
}

.free-shipping {
  color: #00a650;
  font-size: 0.875rem;
  margin-top: 1rem;
  display: block;
}

.description-container {
  flex-basis: 100%;
  max-width: 680px;
}

.button-buy {
  border: none;
  padding: 0.5rem;
  color: #fff;
  border-radius: 4px;
  background-color: #3483fa;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  font-weight: 600;
  padding: 0.7rem;
}

@media only screen and (max-width: 900px) {
  .image {
    width: 100%;
  }
  .image-container {
    width: 100%;
    max-width: none;
  }
  .detail-container {
    width: 100%;
  }
  .row {
    flex-direction: column;
  }
}
